<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<details>
  <summary>All</summary>
  <%= render @jobs %>
</details>

<details>
  <summary>At Xero</summary>
  <%= render @xero_jobs %>
</details>

<details>
  <summary>Front-end Jobs</summary>
  <%= render @front_end_jobs %>
</details>

<details>
  <summary>Back-end Jobs</summary>
  <%= render @back_end_jobs %>
</details>

<details>
  <summary>Full-stack Jobs</summary>
  <%= render @full_stack_jobs %>
</details>

<details>
  <summary>I hate backend</summary>
  <%= render @i_hate_backend_jobs %>
</details>

<details>
  <summary>Finance jobs</summary>
  <%= render @finance_jobs %>
</details>

<details>
  <summary>Xero or Atlassian jobs</summary>
  <%= render @xero_or_atlassian_jobs %>
</details>

<details>
  <summary>Non-finance full stack jobs</summary>
  <%= render @non_finance_full_stack_jobs %>
</details>

<details>
  <summary>JavaScript</summary>
  <%= render @javascript_jobs %>
</details>

<br>

<%= link_to 'New Job', new_job_path %>
